.news {
  margin: 50px 0;
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  &-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }

    button {
      color: white;
    }
  }

  &-btns {
    display: flex;
    gap: 20px;
  }

  &-delete {
    background-color: brown;
  }
}
